# RubyMine .idea folder
*/.idea

# Distefano's PDFs
*.pdf
/parser/Atlas/*

# Batch files
*.bat

# Minified JavaScript File
/js/min.js

# Word Documents, Except for the todo list
*.docx
*.doc

# Emacs Backup files
\#*\#
*~