# RubyMine .idea folder
*/.idea

# Distefano's PDFs
*.pdf
/parser/Atlas/*

# Batch files
*.bat

# Minified JavaScript Files
/js/*min.js


# Word Documents, Except for the todo list
*.docx
*.doc

# Emacs Backup files
\#*\#
*~

# Node library
node_modules
