<!DOCTYPE html>
<html lang='it'>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script src="size.js"></script>
        <script src="draw.js"></script>
        <script src="windowattr.js"></script>
        <link rel="stylesheet" href="styles.css">
        <title>La storia Veneziana</title>
    </head>
    <body data-ng-app="appTimeline" data-ng-controller="controllerTimeline">
        <h1>La storia Veneziana</h1>
        <div id=nav>
            <a href="http://wpi.edu" target="_blank">Il <i>Worcester Polytechnic Institute</i></a>
            <a href="" target="_blank">Il <i>Venice Project Center</i></a>
            <a href="" target="_blank">Il gruppo della cronologia di Venezia</a>
            <a href="http://www.supernovaedizioni.it" target="_blank">Supernova Edizioni</a>
        </div>
        
        <div id=timeline>
            <article data-ng-repeat="event in events | orderBy:'Year' | filter:search">
                <h2 data-ng-bind="event.Date || event.Year + ': ' + event.Title"></h2>
                <p data-ng-bind="event.Content"></p>
            </article>
        </div>
        
        <div id=timeAxis>
            <canvas id="axis" width="100" height="30"></canvas>
        </div>
        <div id=buttons>
            <button data-ng-click="zoomOut()">Diminuire</button>
            <button data-ng-click="zoomIn()">Ingrandire</button>
            Scegli un filter: <select data-ng-model="filter">
            <option value="'NoFilter'">Nessun Filter</option>
            <option value="'War'">Guerra</option>
            <option value="'Italy'">Italia</option>
            <option value="'Balkans'">Balcani</option>
            </select>
            Cerca: <input type="text" data-ng-model="search" data-ng-change="filter=search">
        </div>
        <script src="controller.js"></script>
    </body>
</html>