<!DOCTYPE html>
<html lang='it'>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
		<script src="interceptWheel.js"></script>
        <script src="size.js"></script>
        <script src="draw.js"></script>
        <script src="scroll.js"></script>
        <script src="windowattr.js"></script>
        <script src="eventHandle.js"></script>
        <script src="animations.js"></script>
        <link rel="stylesheet" href="styles.css">
        <title>La storia Veneziana</title>
    </head>
    <body data-ng-app="appTimeline" data-ng-controller="controllerTimeline">
        <div id="google_translate_element"></div><script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'it', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, autoDisplay: false}, 'google_translate_element');
            }
        </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <h1>Storia di Venezia</h1>
        <div id=nav>
            <a href="http://wpi.edu" target="_blank" id="wpilink">Il <i>Worcester Polytechnic Institute</i></a>
            <a href="" target="_blank" id="vpclink">Il <i>Venice Project Center</i></a>
            <a href="" target="_blank" id="teamlink">Il nostro team</a>
            <a href="http://www.supernovaedizioni.it" target="_blank" id="selink">Supernova Edizioni</a>
			<a href="crediti.html" target="pop" id="credlink">Crediti e citazioni</a>
        </div>
        
        <div id=timeline>
            <article data-ng-repeat="event in events | filter:search">
                <h2 data-ng-bind="(event.Date || event.Year) + ': ' + event.Title"></h2>
                <p data-ng-bind="event.Content" data-ng-if="!event.Image"></p>
                <img data-ng-if="event.Image" src="{{ event.Image }}">
            </article>
        </div>
        <div class="arrow" id="larr" data-ng-mouseenter="scroll(-1)" data-ng-mouseleave="stopScroll()" data-ng-mousedown="scroll(-3)" data-ng-mouseup="scroll(-1)"></div>
        <div class="arrow" id="rarr" data-ng-mouseenter="scroll(1)" data-ng-mouseleave="stopScroll()" data-ng-mousedown="scroll(3)" data-ng-mouseup="scroll(1)"></div>
        
        <div id=timeAxis>
            <canvas id="axis" width="100" height="30"></canvas>
        </div>
        <div id=buttons>
            <button data-ng-click="zoomOut()" onmouseover="hover('zoom_out');" onmouseout="unhover('zoom_out');" id="zoom_out"></button>
            <button data-ng-click="zoomIn()" onmouseover="hover('zoom_in');" onmouseout="unhover('zoom_in');" id="zoom_in"></button>
            Scegli un filtro: <select data-ng-model="filter">
            <option value="" selected>Nessun Filtro</option>
            <option value="'War'">Guerra</option>
            <option value="'Italy'">Italia</option>
            <option value="'Balkans'">Balcani</option>
            </select>
            Cerca: <input type="text" data-ng-model="search">
        </div>
        <script src="controller.js"></script>
    </body>
</html>