<!DOCTYPE html>
<html lang='it'>
    <head>
        <meta charset="utf-8">
        
        <!--SHORTCUT ICON-->
        <link rel="shortcut icon" href="favicon.ico">
        
        <!--TITLE-->
        <title>Storia di Venezia</title>
    </head>
    
    <!--
    AngularJS application
    Application: appTimeline
    Controller: controllerTimeline
    
    Allows for the population of the page with imported data later on.
    -->
    <body data-ng-app="appTimeline" data-ng-controller="controllerTimeline">
        <noscript>Questa pagina utilizza JavaScript. Il suo browser non supporta JavaScript, oppure JavaScript è disabilitato. Si preghiamo di permetterlo od usare un altro browser.</noscript>
        <!--BEGIN GOOGLE TRANSLATE COMPONENT
        Includes the Google Translate component on the page.
        Specifies the layout of the component as well as its specific settings.
        -->
        <div id="google_translate_element" class="slidein"></div><script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'it', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL, autoDisplay: false}, 'google_translate_element');
            }
        </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <!--END GOOGLE TRANSLATE COMPONENT-->
        
        <!--BEGIN SEARCH COMPONENT-->
        <div id="searchcomp" class="fadein">
            <!--SEARCH BOX-->
            <img src="icon/search.png"><input type="text" data-ng-model="actsearch" data-ng-keypress="updateSearch($event);" id="search">
            <span id=advsearch>
                Segnalibri:
                <select data-ng-model="filter" onchange="if($('#bkmk')[0].value==='new'){newGroup();}if(document.getElementById('bkmk').value===''){document.getElementById('ppb').disabled=true;}else{document.getElementById('ppb').disabled=false;}" id="bkmk">
                    <option value="" selected>Nessun segnalibro</option>
                    <option value="all" selected>Tutti i segnalibri</option>
                    <option data-ng-repeat="groups in getGroups()" data-ng-bind="groups" data-ng-attr-value="groups"></option>
                    <option value="new">Nuovo...</option>
                </select>
                <!--END FILTER DROPDOWN-->
                Mostra solo i segnalibri: <input type="checkbox" data-ng-model="bkonly">
                <button type="button" onclick="presentPage();" id=ppb disabled>Scaricare i segnalibri</button>
            </span>
            <a onclick="toggleAdvSearch();" id=togglebutton title="Mostra o nasconde le opzioni di segnalibri">Segnalibri ></a>
        </div>
        <!--END SEARCH COMPONENT-->

        <!--BEGIN PAGE CONTENT-->
        
        <!--TITLE-->
        <h1 class="fadein" style="width:100%"><img src="icon/title.png"></h1>
        
        <!--BEGIN TIME PERIOD COMPONENT-->
        <p class="timeperiod fadein" id="timeperiod">L&#8217;Impero Romano (400 - 538)</p>
        <!--END TIME PERIOD COMPONENT-->
        
        <!--BEGIN NAVBAR COMPONENT
        Specifies the navbar component, with links
        -->
        <div id=nav class=fadein>
            <!--WPI-->                  <a href="http://wpi.edu" target="_blank" id="wpilink" title="Worcester Polytechnic Institute"></a>
            <!--VPC-->                  <a href="http://veniceprojectcenter.org" target="_blank" id="vpclink" title="Venice Project Center"></a>
            <!--Supernova Edizioni-->   <a href="http://www.supernovaedizioni.it" target="_blank" id="selink" title="Supernova Edizioni srl"></a>
            <!--Our Team-->             <a href="https://sites.google.com/site/ve15chron/" target="_blank" id="teamlink" title="Website del nostro team"></a>
        </div>
        <!--END NAVBAR COMPONENT-->

        <!--BEGIN FUNCTIONBAR COMPONENT-->
        <div id=func class=fadein>
            <!--Login-->                <a id="loginb" onclick="openLogin();" onmouseover="hover('loginb');" onmouseout="unhover('loginb')" title="Effetuare login"></a>
            <!--Add event-->            <a id="addeventb" onclick="openAEF();" title="Aggiungere un nuovo evento" onmouseover="hover('addeventb');" onmouseout="unhover('addeventb')"></a>
            <!--Logout-->               <a id="logoutb" onclick="logout();" title="Uscire" onmouseover="hover('logoutb');" onmouseout="unhover('logoutb');"></a>
            <!--Credits/Help-->         <a href="crediti.html" target="_blank" id="credlink" title="Crediti ed Informazione" onmouseover="hover('credlink');" onmouseout="unhover('credlink');"></a>
        </div>
        <!--END FUNCTIONBAR COMPONENT-->
        
        <!--BEGIN CONTENT PANEL COMPONENT
        Specifies the content panel layout and design.
        Also provides the specification for AngularJS to display the panels.
        For the data used to populate these panels, see data.json.
        For the function used to read in the data, see controller.js::app.controller::farg1.
        For the function used to size the panels, see size.js::size().
        -->
        <div id=timeline class=fadein>
            <!--For each event in the JSON file, display it iff its content matches the search, if present, and its taglist (Filter) contains the selected filter, if any.-->
            <article data-ng-if="(zoom === 1)&&(!bkonly||hasBookmark(filter,event.key))" data-ng-repeat="event in events1 | filter:getFilter()" data-ng-click="displayInfoPanel(events1, mouseEventToPanelNo($event));obscure();" data-ng-style="{'background-color': getColor(event)}">
                <h2 data-ng-bind="(event.Date + ' ' + event.Year) + (event.Title ? ': ' + event.Title : '')"></h2>
                <p data-ng-if="!event.Image" data-ng-bind-html="renderHtml(getText(event.Content))"></p>
                <img class="bookmark" data-ng-if="hasBookmark(filter, event.key)" src="icon/bookmarkimg.png">
                <img class="ipimg" data-ng-if="event.Image" data-ng-attr-src="event.Image[0]" data-ng-attr-alt="event.Title">
            </article>
            <article data-ng-if="(zoom === 2)&&(!bkonly||hasBookmark(filter,event.key))" data-ng-repeat="event in events2 | filter:getFilter()" data-ng-click="displayInfoPanel(events2, mouseEventToPanelNo($event));obscure();" data-ng-style="{'background-color': getColor(event)}">
                <h2 data-ng-bind="(event.Date + &quot; &quot; + event.Year) + (event.Title ? ': ' + event.Title : '')"></h2>
                <p data-ng-if="!event.Image" data-ng-bind-html="renderHtml(getText(event.Content));"></p>
                <img class="bookmark" data-ng-if="hasBookmark(filter, event.key)" src="icon/bookmarkimg.png">
                <img class="ipimg" data-ng-if="event.Image" data-ng-attr-src="event.Image[0]" data-ng-attr-alt="event.Title">
            </article>
            <article id="art" data-ng-if="(zoom === 3)&&(!bkonly||hasBookmark(filter,event.key))" data-ng-repeat="event in events | filter:getFilter()" data-ng-click="displayInfoPanel(events, mouseEventToPanelNo($event));obscure();sendFBCUD(event.key, event.Count + 1);" data-ng-style="{'background-color': getColor(event)}">
                <!--Display the content's date (or year) and its title-->       <h2 data-ng-bind="(event.Date + &quot; &quot; + event.Year) +  (event.Title ? ': ' + event.Title : '')"></h2>
                <!--Display the event's content iff no image-->                 <p data-ng-if="!event.Image" data-ng-bind-html="renderHtml(getText(event.Content))"></p>
                <!--Display a bookmark if there are bookmarks-->                <img class="bookmark" data-ng-if="hasBookmark(filter, event.key)" src="icon/bookmarkimg.png">
                <!--Display the event's image iff present-->                    <img class="ipimg" data-ng-if="event.Image" data-ng-attr-src="event.Image[0]" data-ng-attr-alt="event.Title">
            </article>
            <article data-ng-if="(zoom === 0)&&(!bkonly||hasBookmark(filter,event.key))" data-ng-repeat="event in centuries | filter:getFilter()" data-ng-click="displayInfoPanel(centuries, mouseEventToPanelNo($event));obscure();" data-ng-style="{'background-color': getColor(event)}">
                <h2 data-ng-bind="event.Year"></h2>
                <p data-ng-if="!event.Image" data-ng-bind-html="renderHtml(getText(event.Content))"></p>
                <img class="bookmark" data-ng-if="hasBookmark(filter, event.key)" src="icon/bookmarkimg.png">
                <img class="ipimg" data-ng-if="event.Image" data-ng-attr-src="event.Image[0]" data-ng-attr-alt="event.Title">
            </article>
        </div>
        <!--END CONTENT PANEL COMPONENT-->
        
        <!--BEGIN INFOPANEL COMPONENT
        Specifies the positioning of the infopanel box (though not its content; see controller.js::$scope.displayInfoPanel() for content).
        Also specifies for the obscuration of the background while the panel is displayed.
        For the code responsible for showing and hiding these panels, see controller.js::$scope.displayInfoPanel() and controller.js::$scope.hideInfoPanel().
        The obscure layer defines an eventListener for mouseup, which calls the functions at controller.js::$scope.hideInfoPanel() and controller.js::$scope.unobscure().
        -->
        <div id="obscure" data-ng-mouseup="hideInfoPanel();unobscure();"></div>
        <div id="infopanel_wrap" class=formpanel>
            <div class="bar">
                <h2 id="iptitle" style="float:left"></h2>
                <img src="icon/pclose.png" data-ng-mouseup="barAct('close');" title="Chiudere l&#8217;evento">
                <img src="icon/pright.png" data-ng-mouseup="barAct('next');" title="Andare al prossimo evento">
                <img src="icon/pleft.png" data-ng-mouseup="barAct('last');" title="Andare allo scorso evento">
                <img src="icon/bookmark.png" onmouseup="popsticky();" title="Lasciare un segnalibro qua">
                <img src="icon/flag.png" data-ng-if="auth" id="flagbutton" title="Indicare un problema con quest&#8217;evento">
            </div>
            <div id="infopanel">
            </div>
        </div>
        <!--END INFOPANEL COMPONENT-->
        
        <!--BEGIN STICKY COMPONENT-->
        <div class=formpanel id="sticky_wrap">
            <div class="bar">
                <img src="icon/pclose.png" onmouseup="closeSticky();" title="Chiudere">
            </div>
            <div id="stick">
            </div>
        </div>
        <!--END STICKY COMPONENT-->
        
        <!--BEGIN ENCYCLOPAEDIA COMPONENT-->
        <div id="encycl_wrap" class="formpanel">
            <div class="bar">
                <h2 id="encycltitle" style="float:left"></h2>
                <img src="icon/pclose.png" onmouseup="enclanim();" title="Chiudere l&#8217;enciclopedia">
            </div>
            <div id="encycl">
            </div>
        </div>
        <!--END ENCYCLOPAEDIA COMPONENT-->
        
        <!--BEGIN FORMPANEL COMPONENTS-->
        <div class="formpanel" id="loginform">
            <div class="bar_small">
                <img src="icon/pclose.png" onmouseup="closeLogin();" title="Chiudere">
            </div>
            <div>
                <form id="login">
                    <table>
                        <tr><td>Username:</td><td><input type="text" name="user" id="login_user"></td></tr>
                        <tr><td>Password:</td><td><input type="password" name="pass" id="login_pass"></td></tr>
                    </table>
                    <input type="submit" onclick="login();closeLogin();">
                </form>
            </div>
        </div>
        
        <div class="formpanel" id=addeventform_wrap>
            <div class=bar>
                <img src="icon/pclose.png" onmouseup="closeAEF();" title="Chiudere questo forma">
            </div>
            <div id="addeventform">
                <h2>Aggiungere un nuovo evento</h2>
                <form id=addevent>
                    <!--
                    Year | label: Anno | type: number | name: Year | id:ae_Year | required
                    Month | Mese | text | Month | ae_Month
                    Date | Data | number | Date | ae_Date
                    Text | Testo | textarea 6x50 | Content | ae_Content | required
                    Citation | Citazione | text | Citation | ae_Citation | required
                    Image | Immagine | file | Image | ae_Image
                    Links | ___ | textarea 6x50 | Links | ae_Links
-->
                    <table>
                        <tbody>
                            <tr>
                                <td><span class="red">*</span>Anno</td><td>Mese</td><td>Data</td>
                            </tr>
                            <tr>
                                <td><input type="number" name="Year" id="ae_Year" value="2015" onfocus="document.getElementById('ae_Year').value = '';" required></td>
                                <td>
                                    <select name="Month" id="ae_Month" onchange="calcdates();">
                                        <option value="" selected>Mese sconosciuto / Nessun mese</option>
                                        <option value="gennaio">Gennaio</option>
                                        <option value="febbraio">Febbraio</option>
                                        <option value="marzo">Marzo</option>
                                        <option value="aprile">Aprile</option>
                                        <option value="maggio">Maggio</option>
                                        <option value="giugno">Giugno</option>
                                        <option value="luglio">Luglio</option>
                                        <option value="agosto">Agosto</option>
                                        <option value="settembre">Settembre</option>
                                        <option value="ottobre">Ottobre</option>
                                        <option value="novembre">Novembre</option>
                                        <option value="dicembre">Dicembre</option>
                                    </select>
                                </td>
                                <td>
                                    <select name="Date" id="ae_Date" disabled>
                                        <option value="" selected>Data sconosciuta / Nessuna data</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table><br>
                    Titolo:<br>
                    <input type="text" name="Title" id="ae_Title"><br><br>
                    <span class="red">*</span>Testo dell&#8217;evento:<br>
                    <textarea rows="6" name="Content" id="ae_Content" required></textarea><br><br>
                    <span class="red">*</span>Citazione (<a href="http://www.chicagomanualofstyle.org/tools_citationguide.html">Chicago format</a>):<br>
                    <input type="text" name="Citation" id="ae_Citation" required><br><br>
                    Luogo dell&#8217;evento:<br>
                    <input type="text" name="Location" id="ae_Location"><br><br>
                    Immagine:<br>
                    <input type="file" name="Image" id="ae_Image"><br><br>
                    URL delle letture suplementari on-line (uno per linea):<br>
                    <textarea rows="6" name="Links" id="ae_Links"></textarea><br><br>
                    <input id="submitae" type=submit onclick="addEvent();"><br><br>
                    <span class="red">*I campi contrassegnati con l&#8217;asterisco sono richiesti.</span>
                </form>
            </div>
        </div>
        <!--END FORMPANEL COMPOENTS-->
        
        <!--BEGIN SCROLL ARROW COMPONENTS
        Specifies for the positioning and functionality of the arrows displayed to either side of the conent panel component.
        Specifies eventListeners for mouseover (mouseenter), mouseout (mouseleave), mousedown, and mouseup for each arrow.
        Specifies that onmouseover, the scroll delta will be +/-1.
                       onmouseout, the scroll delta will be 0.
                       onmousedown, the scroll delta will be +/-3.
                       onmouseup, the scroll delta will be +/-1.
        For the functions that run on these calls, see controller.js::$scope.scroll().
        For the function that evaluates the scroll delta, see windowattr.js::window.controllerLoad().
        -->
        <div class="arrow fadein" id="larr" data-ng-mouseenter="scroll(-1)" data-ng-mouseleave="stopScroll()" data-ng-mousedown="scroll(-3)" data-ng-mouseup="scroll(-1)"></div>
        <div class="arrow fadein" id="rarr" data-ng-mouseenter="scroll(1)" data-ng-mouseleave="stopScroll()" data-ng-mousedown="scroll(3)" data-ng-mouseup="scroll(1)"></div>
        <!--END SCROLL ARROW COMPONENTS-->
        
        <!--BEGIN TIME AXIS COMPONENT
        Specifies the canvas that will be used to display the canvas.
        For the function that draws the timeline, see draw.js::draw().
        For the function that handles the slider, see eventHandle.js.
        For the function responsible for sizing the canvas, see size.js::size().
        -->
        <div id=timeAxis class=fadein>
            <canvas id="axis" width="100" height="100"></canvas>
        </div>
        <!--END TIME AXIS COMPONENT-->
        
        <!--BEGIN CONTROL BUTTONS COMPONENT
        Specifies for the inclusion of the zoom buttons, filter dropdown, and search box.
        For the section of code that uses these values, see the CONTENT PANEL COMPONENT above.
        -->
        <div id=buttons class=fadein>
            <!--BEGIN ZOOM BUTTONS
            Specifies for the inclusion of the zoom buttons.
            Specifies eventListeners for mouseclick, mouseover, and mouseout.
            Specifies that onmouseclick, the zoom level will increase or decrease
                           onmouseover, the button will animate to demonstrate interactability
                           onmouseout, the button will return to its regular state
            For the functions that adjust zoom level, see controller.js::$scope.zoomIn() and controller.js::$scope.zoomOut().
            For the function that handles the hover animation, see animations.js::hover().
            For the function that handles the unhover animation, see animations.js::unhover().
            -->
            <button data-ng-click="zoomOut()" onmouseover="hover('zoom_out');" onmouseout="unhover('zoom_out');" id="zoom_out"></button>
            <button data-ng-click="zoomTo(0);" onmouseover="hover('zoom_0');" onmouseout="unhover('zoom_0');" id="zoom_0" title="Mostra i secoli"></button>
            <button data-ng-click="zoomTo(1);" onmouseover="hover('zoom_1');" onmouseout="unhover('zoom_1');" id="zoom_1" title="Mostra gli eventi importantissimi"></button>
            <button data-ng-click="zoomTo(2);" onmouseover="hover('zoom_2');" onmouseout="unhover('zoom_2');" id="zoom_2" title="Mostra gli eventi importanti"></button>
            <button data-ng-click="zoomTo(3);" onmouseover="hover('zoom_3');" onmouseout="unhover('zoom_3');" id="zoom_3" title="Mostra tutti gli eventi"></button>
            <button data-ng-click="zoomIn()" onmouseover="hover('zoom_in');" onmouseout="unhover('zoom_in');" id="zoom_in"></button>
            <!--END ZOOM BUTTONS-->
        </div>
        <!--END CONTROL BUTTONS COMPONENT-->
        
        <!--BEGIN LOADING BAR COMPONENT-->
        <div id="load"></div>
        <!--END LOADING BAR COMPONENT-->
        
        <!--END PAGE CONTENT-->
        
        <!--Load the controller-->
        <!--STYLESHEET-->
        <link rel="stylesheet" href="styles.css">
        
        <!--ANGULARJS-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        
        <!--JQUERY-->
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
        
        <!--FIREBASE-->
        <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
        
        <!--OUR SCRIPTS | I NOSTRI SCRIPT-->
        <script src="js/util.js"></script>
        <script src="js/TimePeriod.js"></script>
		<script src="js/interceptWheel.js"></script>
        <script src="js/size.js"></script>
        <script src="js/draw.js"></script>
        <script src="js/scroll.js"></script>
        <script src="js/windowattr.js"></script>
        <script src="js/eventHandle.js"></script>
        <script src="js/animations.js"></script>
        <script src="js/search.js"></script>
        <script src="js/bookmarks2.js"></script>
        <script src="js/login.js"></script>
        <script src="js/addevent.js"></script>
        <script src="js/text.js"></script>
        <script src="js/encycl.js"></script>
        <script src="js/sticky2.js"></script>
        <script src="js/fbc.js"></script>
        <script src="js/flag.js"></script>
        <script src="js/dates.js"></script>
        <script src="js/controller.js"></script>
    </body>
</html>