/* Animation definitions */

/* BEGIN HOVER ANIMATION FOR BUTTONS */
@-webkit-keyframes hover {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(120, 120, 120, 1);
    }
}

@-moz-keyframes hover {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(120, 120, 120, 1);
    }
}

@-o-keyframes hover {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(120, 120, 120, 1);
    }
}

@keyframes hover {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(120, 120, 120, 1);
    }
}

/* END HOVER ANIMATION */

/* BEGIN UNHOVER ANIMATION */

@-webkit-keyframes unhover {
    from {
        background-color: rgba(120, 120, 120, 1);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

@-moz-keyframes unhover {
    from {
        background-color: rgba(120, 120, 120, 1);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

@-o-keyframes unhover {
    from {
        background-color: rgba(120, 120, 120, 1);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes unhover {
    from {
        background-color: rgba(120, 120, 120, 1);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

/* END UNHOVER ANIMATION */

/* BEGIN FADEIN ANIMATION */

@-webkit-keyframes fadein {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* END FADEIN ANIMATION */

/* BEGIN GTSLIDEIN ANIMATION */

@-webkit-keyframes gt_slidein {
    0%, 50% {
        top: -20px;
    }
    100% {
        top: 10px;
    }
}

@-moz-keyframes gt_slidein {
    0%, 50% {
        top: -20px;
    }
    100% {
        top: 10px;
    }
}

@-o-keyframes gt_slidein {
    0%, 50% {
        top: -20px;
    }
    100% {
        top: 10px;
    }
}

@keyframes gt_slidein {
    0%, 50% {
        top: -25px;
    }
    100% {
        top: 10px;
    }
}

/* END GTSLIDEIN ANIMATION */

/* BEGIN AR_FADEIN ANIMATION */

@-webkit-keyframes ar_fadein {
    0%, 50% {
        background-color: rgba(64, 64, 64, .8);
    }
    100% {
        background-color: rgba(25, 25, 25, .8);
    }
}

@-moz-keyframes ar_fadein {
    0%, 50% {
        background-color: rgba(64, 64, 64, .8);
    }
    100% {
        background-color: rgba(25, 25, 25, .8);
    }
}

@-o-keyframes ar_fadein {
    0%, 50% {
        background-color: rgba(64, 64, 64, .8);
    }
    100% {
        background-color: rgba(25, 25, 25, .8);
    }
}

@keyframes ar_fadein {
    0%, 50% {
        background-color: rgba(64, 64, 64, .8);
    }
    100% {
        background-color: rgba(25, 25, 25, .8);
    }
}

/* END ARFADEIN ANIMATION */

/* BEGIN OBSCURE ANIMATION */

@-webkit-keyframes obscure {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, .5);
    }
}

@-moz-keyframes obscure {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, .5);
    }
}

@-o-keyframes obscure {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, .5);
    }
}

@keyframes obscure {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, .5);
    }
}

/* END OBSCURE ANIMATION */

/* BEGIN UNOBSCURE ANIMATION */

@-webkit-keyframes unobscure {
    0% {
        background-color: rgba(0, 0, 0, .5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

@-moz-keyframes unobscure {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, .5);
    }
}

@-o-keyframes unobscure {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, .5);
    }
}

@keyframes unobscure {
    0% {
        background-color: rgba(0, 0, 0, .5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

/* END UNOBSCURE ANIMATION */

/* Styling information */
html, body {
    height: 100%;
}

body {
    position: relative !important;
    top: 0px !important;
    color: rgba(256, 256, 256, 1);
    background-color: rgba(64, 64, 64, 1);
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: 8px;
}

#zoom_in, #zoom_out {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    cursor: pointer;
}

#zoom_in {
    background-image: url("icon/zoomin.png");
}

#zoom_out {
    background-image: url("icon/zoomout.png");
}

a {
    color: rgba(96, 96, 256, 1);
    z-index: 6;
}

#google_translate_element {
    height: 0px;
    position: fixed;
    top: 10px;
    z-index: 1;
}

.slidein {
    -webkit-animation-name: gt_slidein;
    -webkit-animation-duration: 2s;
    -moz-animation-name: gt_slidein;
    -moz-animation-duration: 2s;
    -o-animation-name: gt_slidein;
    -o-animation-duration: 2s;
    animation-name: gt_slidein;
    animation-duration: 2s;
    display: none;
}

iframe {
    visibility: hidden !important;
    display: none !important;
    height: 0px !important
}

h1 {
    text-align: center;
    text-decoration: underline overline;
    font-variant: small-caps;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    z-index: 0;
    font-size: 50px;
}

div {
    margin: 0;
    padding: 0;
}

.fadein {
    display: none;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 2s;
    -moz-animation-name: fadein;
    -moz-animation-duration: 2s;
    -o-animation-name: fadein;
    -o-animation-duration: 2s;
    animation-name: fadein;
    animation-duration: 2s;
}

div#nav, div#buttons, div#timeAxis {
    text-align: center;
    position: fixed;
}

div#nav {
    bottom: 10px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 32px;
    z-index: 8;
}

div#buttons {
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    z-index: 3;
}

div#timeAxis {
    bottom: 80px;
    margin-left: 0px;
    z-index: 3;
}

div#nav a, div#func a {
    padding-left: 10px;
    padding-right: 10px;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

#obscure {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    animation-duration: 1s;
    z-index: 11;
}

#infopanel_wrap {
    background-color: rgba(256, 256, 256, 1);
    width: 80%;
    height: 80%;
    z-index: 12;
    position:fixed;
    left: 10%;
    top: 10%;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    display: none;
    color: rgba(0, 0, 0, 1);
    padding: 20px;
}

#wpilink {
    background-image: url("icon/wpilogo.png");
    display: inline-block;
}

#vpclink {
    background-image: url("icon/vpclogo.png");
    display: inline-block;
}

#teamlink {
    background-image: url("icon/chronlogo.png");
    display: inline-block;
}

#selink {
    background-image: url("icon/selogo.png");
    display: inline-block;
}

#credlink {
    background-image: url("icon/aboutlogo.png");
    display: inline-block;
}

#loginb {
    background-image: url("icon/loginb.png");
    display: inline-block;
}

#logoutb {
    background-image: url("icon/logoutb.png");
    display: none;
}

#addeventb {
    background-image: url("icon/aeb.png");
    display: none;
}

div.arrow {
    position: fixed;
    background-color: rgba(25, 25, 25, .8);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    height: calc(100vh - 335px);
    top: 138px;
    z-index: 3;
    cursor: pointer;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 2s;
    -moz-animation-name: fadein;
    -moz-animation-duration: 2s;
    -o-animation-name: fadein;
    -o-animation-duration: 2s;
    animation-name: fadein;
    animation-duration: 2s;
}

div.arrow:hover {
    background-color: rgba(12, 12, 12, .8);
}

div.arrow:active {
    background-color: rgba(0, 0, 0, .8);
}

div.arrow#larr {
    left: 0px;
    background-image: url("icon/larrow.png");
}

div.arrow#rarr {
    right: 0px;
    background-image: url("icon/rarrow.png");
}

div#timeline {
    overflow: visible;
    white-space: nowrap;
    position: absolute;
    height: 100%;
    top: 130px;
    left: 60px;
    padding-right: 60px;
    box-sizing: padding-box;
    z-index: 2;
}

div#timeline article {
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    color: rgba(256, 256, 256, 1);
    background-color: rgba(25, 25, 25, .5);
    padding: 10px 30px;
    height: calc(100vh - 335px);
    z-index: 2;
    cursor: pointer;
    overflow-y: hidden;
    font-size: 150%;
}

canvas {
    padding-left: 0;
    padding-right: 0;
}

article {
    margin-right: 10px;
    white-space: normal;
    vertical-align: text-top;
}

img.ipimg {
    max-width: 440px;
    max-height: calc(100vh - 475px);
    min-width: 0px;
    margin: auto;vertical-align: top;
}

div.bar img {
    float: right;
    margin: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

div.bar {
    height: 52px;
    width: 100%;
}

div#load {
    width: 60px;
    height: 12px;
    position: fixed;
    top: calc(50vh - 6px);
    left: calc(50vw - 30px);
    z-index: 20;
    background-image: url(icon/load.gif);
}

div#infopanel {
    font-size: 200%;
    overflow: auto;
    height: calc(100% - 52px);
}

div#infopanel h2 {
    padding-top: 0;
    margin-top: 0;
}

.timeperiod {
    position: fixed;
    top: 40px;
    left: 0;
    font-size: 20pt;
}

#func {
    position: fixed;
    top: 0;
    right: 0;
}

#loginform {
    display: none;
    background-color: rgba(256, 256, 256, 1);
    width: 300px;
    height: 150px;
    padding-left: 20px;
    z-index: 12;
    position:fixed;
    right: 0;
    top: 0;
    color: rgba(0, 0, 0, 1);
}

#addeventform {
    display: none;
    background-color: rgba(256, 256, 256, 1);
    width: 60%;
    height: 80%;
    position: fixed;
    top: 10%;
    left: 20%;
    color: rgba(0, 0, 0, 1);
    padding-left: 20px;
    z-index: 12;
}

form#login table, form#addevent table {
    border: none;
}

form#login table tr td:first-child, form#addevent table tr td:first-child {
    text-align: right;
}