/* Animation definitions */

@-webkit-keyframes hover {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(120, 120, 120, 1);
    }
}

@keyframes hover {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(120, 120, 120, 1);
    }
}

@-webkit-keyframes unhover {
    from {
        background-color: rgba(120, 120, 120, 1);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes unhover {
    from {
        background-color: rgba(120, 120, 120, 1);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes fadein {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0%, 50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes gt_slidein {
    0%, 50% {
        top: -20px;
    }
    100% {
        top: 10px;
    }
}

@keyframes gt_slidein {
    0%, 50% {
        top: -25px;
    }
    100% {
        top: 10px;
    }
}

@-webkit-keyframes ar_fadein {
    0%, 50% {
        background-color: rgba(64, 64, 64, .8);
    }
    100% {
        background-color: rgba(25, 25, 25, .8);
    }
}

@keyframes ar_fadein {
    0%, 50% {
        background-color: rgba(64, 64, 64, .8);
    }
    100% {
        background-color: rgba(25, 25, 25, .8);
    }
}

@-webkit-keyframes obscure {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, .5);
    }
}

@keyframes obscure {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, .5);
    }
}

@-webkit-keyframes unobscure {
    0% {
        background-color: rgba(0, 0, 0, .5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes unobscure {
    0% {
        background-color: rgba(0, 0, 0, .5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

/* Styling information */
html, body {
    height: 100%;
}

body {
    position: relative !important;
    top: 0px !important;
    color: rgba(256, 256, 256, 1);
    background-color: rgba(64, 64, 64, 1);
    overflow-y: hidden;
    margin-left: 8px;
}

#zoom_in, #zoom_out {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    animation-duration: 1s;
    cursor: pointer;
}

#zoom_in {
    background-image: url("icons/zoomin.png");
}

#zoom_out {
    background-image: url("icons/zoomout.png");
}

a {
    color: rgba(96, 96, 256, 1);
    z-index: 6;
}

#google_translate_element {
    height: 0px;
    position: fixed;
    top: 10px;
    z-index: 1;
    animation-name: gt_slidein;
    animation-duration: 2s;
}

iframe {
    visibility: hidden !important;
    display: none !important;
    height: 0px !important
}

h1 {
    text-align: center;
    text-decoration: underline overline;
    font-variant: small-caps;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    z-index: 0;
    font-size: 50px;
}

div {
    margin: 0;
    padding: 0;
}

div#nav, div#timeline, div#timeAxis, div#buttons, h1 {
    animation-name: fadein;
    animation-duration: 2s;
}

div#nav, div#buttons, div#timeAxis {
    text-align: center;
    position: fixed;
}

div#nav {
    bottom: 10px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 32px;
    z-index: 8;
}

div#buttons {
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

div#timeAxis {
    bottom: 60px;
    margin-left: 0px;
}

div#nav a {
    padding-left: 10px;
    padding-right: 10px;
    width: 32px;
    height: 32px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#obscure {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    animation-duration: 1s;
    z-index: 9;
}

#infopanel_wrap {
    background-color: rgba(256, 256, 256, 1);
    width: 80%;
    height: 80%;
    z-index: 710;
    position:fixed;
    left: 10%;
    top: 10%;
    animation-duration: 1s;
    display: none;
    color: rgba(0, 0, 0, 1);
    padding: 20px;
}

#wpilink {
    background-image: url("icons/wpilogo.png");
}

#vpclink {
    background-image: url("icons/vpclogo.png");
}

#teamlink {
    background-image: url("icons/chronlogo.png");
}

#selink {
    background-image: url("icons/selogo.png");
}

#credlink {
    background-image: url("icons/aboutlogo.png");
}

div.arrow {
    position: fixed;
    background-color: rgba(25, 25, 25, .8);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60px;
    top: 138px;
    z-index: 3;
    cursor: pointer;
    animation-name: fadein;
    animation-duration: 2s;
}

div.arrow:hover {
    background-color: rgba(12, 12, 12, .8);
}

div.arrow:active {
    background-color: rgba(0, 0, 0, .8);
}

div.arrow#larr {
    left: 0px;
    background-image: url("icons/larrow.png");
}

div.arrow#rarr {
    right: 0px;
    background-image: url("icons/rarrow.png");
}

div#timeline {
    overflow: visible;
    white-space: nowrap;
    position: absolute;
    height: 100%;
    top: 130px;
    left: 60px;
    padding-right: 60px;
    box-sizing: padding-box;
    z-index: 2;
}

div#timeline article {
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    color: rgba(256, 256, 256, 1);
    background-color: rgba(25, 25, 25, .5);
    padding: 10px 30px;
    height: 0px;
    z-index: 2;
    cursor: pointer;
    overflow-y: hidden;
    font-size: 150%;
}

canvas {
    padding-left: 0;
    padding-right: 0;
}

article {
    margin-right: 10px;
    white-space: normal;
    vertical-align: text-top;
}

img.ipimg {
    max-width: 440px;
    max-height: none;
    min-width: 0px;
    margin: auto;vertical-align: top;
}

div.bar img {
    float: right;
    margin: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

div.bar {
    height: 52px;
    width: 100%;
}

div#infopanel {
    font-size: 200%;
    overflow: auto;
    height: calc(100% - 52px);
}

div#infopanel h2 {
    padding-top: 0;
    margin-top: 0;
}