html, body {
    height: 100%;
}

#zoom_in {
    background-image: url("zoomin.png");
}

#zoom_out {
    background-image: url("zoomout.png");
}

#zoom_in, #zoom_out {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

body {
    position: relative !important;
    top: 0px !important;
}

#google_translate_element {
    height: 0px;
    position: fixed;
    z-index: 1;
}

iframe {
    visibility: hidden !important;
    display: none !important;
    height: 0px !important
}

body {
    background-color: darkgray;
    overflow-y: hidden;
    margin-left: 8px;
}

h1 {
    text-align: center;
    text-decoration: underline overline;
    font-variant: small-caps;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    z-index: 0;
}

div {
    margin: 0;
    padding: 0;
}

div#nav, div#buttons, div#timeAxis {
    text-align: center;
    position: fixed;
}

div#nav {
    top: 75px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
}

div#buttons {
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}

div#timeAxis {
    bottom: 60px;
    margin-left: 12px;
}

div#nav a {
    padding-left: 10px;
    padding-right: 10px;
}

div#timeline {
    overflow: visible;
    white-space: nowrap;
    position: absolute;
    height: 100%;
    top: 130px;
    box-sizing: padding-box;
}

div#timeline article {
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    color: rgba(256, 256, 256, 256);
    background-color: rgba(50,50,50,100);
    padding: 20px;
    height: 0px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
}

article {
    margin-right: 10px;
    white-space: normal;
    vertical-align: text-top;
}

img {
    max-width: 460px;
    max-height: none;
    margin: auto;
}